.container {
    display: flex;
    justify-content: center;
    height: 400px;
}

.mainContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: inherit;
    /* flex-grow: 1;
    flex-basis: 600px; */
}

.leftContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.heading{
    height: 292px;
    display: flex;
    justify-content: space-evenly;
    /* padding: 25px; */
    background: linear-gradient(transparent 0,rgb(48, 104, 128) 100%);
}

.headingImage{
    display: flex;
    align-items: flex-end;
}

.headingContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: inherit;
}

.headingContent span:nth-child(1){
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
}

.headingContent span:nth-child(2){
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}

.dailyMix1{
    margin: -0.2em 0px 0.3em;
}

.headingContent span:nth-child(3){
    font-size: 0.875rem;
    color: hsla(0,0%,100%,.7);
    font-weight: 400;
}


.tableContainer {
    margin-top: 24px;
}

.table {
    height: inherit;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to bottom, rgb(48, 104, 128), #000000);
}

.tableContainer{
    overflow-y: scroll;
    height: inherit;
}

.table th,
.table td {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    color: #b3b3b3;
    height: 36px;
}

.table th {
    font-weight: bold;
    text-align: left;
    background: rgb(48, 104, 128);
}

.tableRow {
    height: 56px;
    border: 1px solid transparent;
    border-radius: 4px;
  }  

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.table .songInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.table .songDetails {
    display: flex;
    flex-direction: column;
}

.table .songName {
    font-weight: bold;
    margin-bottom: 4px;
}

.table .artistName {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

/* .leftTop{
    height: 30;

}

.leftBottom{

} */