.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContainer {
    display: flex;
    height: 90vh;
}

.rightContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.leftContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.heading {
    height: 292px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(transparent 0, rgb(48, 104, 128) 100%);
}

.headingImage {
    display: flex;
    align-items: flex-end;
}

.headingContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: inherit;
}

.headingContent span:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
}

.headingContent span:nth-child(2) {
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}

.dailyMix1 {
    margin: -0.2em 0px 0.3em;
}

.headingContent span:nth-child(3) {
    font-size: 0.875rem;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 400;
}

.table {
    width: 100%;
    height: 418px;
    background: linear-gradient(to bottom, rgb(48, 104, 128), #000000);
}

.tableContainer {
    overflow-y: auto;
    height: inherit;
}

.table th,
.table td {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    color: #b3b3b3;
    height: 36px;
}

.table th {
    font-weight: bold;
    text-align: left;
    background: rgb(48, 104, 128);
}

.table td {
    padding: 10px;
}

.table tbody tr:hover {
    background-color: rgba(135, 134, 134, 0.582)
}

.songInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.songName {
    font-weight: bold;
}

.nowPlaying {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}